@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #F6F6F6;
  height: 100vh;
  box-sizing: border-box;
}

.presentation {
  margin: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation__content__title {
  font-family: 'Krona One', sans-serif;
  font-size: 36px;
}

.emphasysTitle {
  color: #22D4FD
}

.presentation__content__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.presentation__text {
  width: 615px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.presentation__links {
  display: flex;
  justify-content: space-between;
}

.presentation__links__anchor {
  background-color: #22D4FD;
  /* height: 79px; */
  width: 280px;
  text-align: center;
  font-weight: 600;
  border-radius: 16px;
  font-size: 24px;
  padding-top: 21.5px 0;
  text-decoration: none;
  color: #000000;
}